<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="ZeusCodeArtifact" value="https://zeuslearning-824100177805.d.codeartifact.ap-south-1.amazonaws.com/nuget/training-nuget-store/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <ZeusCodeArtifact>
      <add key="Username" value="aws" />
      <add key="ClearTextPassword" value="%CODEARTIFACT_TOKEN%" />
    </ZeusCodeArtifact>
  </packageSourceCredentials>
</configuration>

